/* PLACE YOU CUSTOM STYLES IN THIS FILE */
.nk-match {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nk-match .nk-match-status {
    width: 100%;
}

.event-name {
    font-size: 1.2rem;
    font-weight: bold; 
} 

.nk-match-team-logo img {
    width: 50px;
}

.nk-match-score {
    font-size: 0.95rem;
}

.nk-navbar .nk-nav-logo img {
    margin-top: -5px;
}
@media only screen and (min-width: 900px) {
    .event-name {
        padding-left: 10px;
    }
}

@media (max-width: 820px) { 

    .nk-match.row {
        margin-right: 0;
        margin-left: 0;
    }
    .nk-match.row .col-md-6 {
        text-align: center !important;
        align-items: center;
    }

    .nk-match-status .nk-match-score {
        width: 200px;
        display: block;
        margin: auto;
    }

    .nk-news-box-list {
        height: 720px !important;
        display: block;
        float: none;
    }

    .nk-news-box {
        height: auto;
    }
}